* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ---------------COLORS--------------- */
.negro {
    background-color: black;
}

.blanco {
    background-color: rgb(230, 165, 112);
}

.rojo {
    background-color: red;
}

.violeta {
    background-color: rgb(100, 16, 100);
}

.container {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #55acee, #292f33);
    display: grid;
    place-items: center;

    & .tarjeta {
        height: 550px auto;
        width: 50%;
        max-width: 350px;
        background-color: white;
        border-radius: 20px;
        padding: 8px;
        box-shadow: 5px 20px 15px -3px rgba(0, 0, 0, 0.5);

        & .encabezado {
            position: relative;
            height: 40px;
            width: 100%;
            background-color: #ccd6d0;
            border-radius: 12px 12px 0 0;
            overflow: hidden;
            transition: all 0.5s ease-in-out;

            & .imagen_prod{
                position: absolute;
                left: 0;
                width: 100%;
                top: 0;
                z-index: 0;
            }

            & .iconos{
                position: absolute;
                height: 10px;
                width: 100%;
                z-index: 1;
                padding: 10px;
            }

            & .flex{
                display: flex!important;
                justify-content: space-between;
            }
        }

        & .papi_img {
            height: 100px;
            overflow: hidden;
            position: relative;

            & .imagen_prod {
                position: absolute;
                left: 0;
                width: 100%;
                object-fit: contain;
                top: 0;
                z-index: 0;
                opacity: 0.2;
            }
        }

        & .papi_img:hover {
            height: 180px auto;
            overflow: visible;


            & .imagen_prod {
                opacity: 1;
                z-index: 100;
                border-radius: 14px;
                box-shadow: 0 0 50px 4400px rgba(0, 0, 0, 0.918);

            }
        }

        & .producto {
            height: 180px auto;
            width: 100%;
            background-color: #e1e8ed;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            & span {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 25pt;
                text-wrap: balance;
                text-align: center;
            }

            & .precio{
                font-size: 30pt;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }

            & ul.sel_colores {
                display: flex;
                justify-content: center;
                gap: 10px;

                & li {
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    list-style: none;
                }

                & li:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                    list-style: none;

                    & li{
                        border: solid 2px rgb(41, 41, 41);
                        width: 30px;
                        height: 30px;
                        display: grid;
                        place-items: center;
                        border-radius: 50%;
                        transition: background-color 250ms ease-in-out;
                    }

                    & li:hover{
                        background-color: gray;
                        color:white;
                        font-weight: bolder;
                        cursor: pointer;
                        transform: scale(1.2);
                    }
                }
            }

            & ul.talles{
                display: flex;
                width: 80%;
                justify-content: space-between;

                & li{
                    border: solid 2px rgb(41, 41, 41);
                    width: 30px;
                    height: 30px;
                    display: grid;
                    place-items: center;
                    border-radius: 50%;
                    transition: background-color 250ms ease-in-out;
                }

                & li:hover{
                    background-color: gray;
                    color:white;
                    font-weight: bolder;
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }

        & .desc_prod {
            height: 180px;
            width: 100%;
            background-color: #55acee;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        & .botonera {
            height: 72px;
            width: 100%;
            background-color: #218bdb;
            padding: 10px;
            display: grid;
            place-items: center;
            border-radius: 0 0 12px 12px;

            & button {
                padding: 10px 5px;
                font-weight: bolder;
                border-color: rgb(41, 41, 41);
                border-width: 3px;
                border-radius: 20px;
                transition: all 250ms ease-in-out;
            }

            & button:hover {
                background-color: rgb(87, 87, 87);
                color: white;
                cursor: pointer;
                transform: scale(1.1);
                box-shadow: 0 0 15px -3px rgb(4, 29, 99);
                border-color: white
            }
        }
    }
}

@media screen and (orientation=portrait){
    .container{
        background: linear-gradient(#eba53c 0%, #292f33 100%);
    }
}